{% block menu %}
<ul class="nav navbar-nav">
    <li>
        <a href="{{ path('homepage') }}">
            Dashboard
        </a>
    </li>
    <li>
        <a href="{{ path('homepage') }}">
            Stock
        </a>
    </li>
    <li>
        <a href="{{ path('homepage') }}">
            Entree
        </a>
    </li>
    <li>
        <a href="{{ path('homepage') }}">
            Sortie
        </a>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Parametre
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="{{ path('homepage') }}">
                    Famille
                </a>
            </li>
            <li>
                <a href="{#{ path('Fournisseur') }#}">
                    Fournisseur
                </a>
            </li>
            <li>
                <a href="{#{ path('Fournisseur') }#}">
                    Rangements
                </a>
            </li>
            <li>
                <a href="{#{ path('Fournisseur') }#}">
                    Unités
                </a>
            </li>
            <li>
                <a href="{#{ path('Fournisseur') }#}">
                    Usages
                </a>
            </li>
        </ul>

    </li>

</ul>

    <ul class="nav navbar-nav pull-right">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {# Je suis connecté #}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    👤 {{ app.user.username }}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">
                            Mes articles
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Se deconnecter
                        </a>
                    </li>
                </ul>
            </li>
        {% else  %}
            {# Je suis anonyme #}
            <li>
                <a href="{{ path('register') }}">
                    S'inscrire
                </a>
            </li>
            <li>
                <a href="{{ path('login') }}">
                    Se connecter
                </a>
            </li>
        {% endif %}
    </ul>
{% endblock %}
