{% import "AvanzuAdminThemeBundle:layout:macros.html.twig" as macro %}
<!doctype html>
<!--[if lt IE 7 ]><html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]><html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}NOETHYS - Web Portal{% endblock %}</title>

    {# -------------------------------------------------------------------------------------------------- STYLESHEETS #}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/avanzuadmintheme/static/'~ app.environment ~'/styles/admin-lte-all.css') }}" />
    {% endblock %}


    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    {# --------------------------------------------------------------------------------------------- JAVASCRIPTS_HEAD #}
    {%  block javascripts_head %}
        <script type="text/javascript" src="{{ asset('bundles/avanzuadmintheme/static/'~app.environment~'/scripts/modernizr.js') }}"></script>
        <!--[if lt IE 9]>

        <![endif]-->

    {% endblock %}

</head>
<body class="hold-transition sidebar-mini {{ admin_skin|default('skin-blue')}}">
<div class="wrapper">

    {% block avanzu_admin_header %}
        <header class="main-header">
            {% block avanzu_logo %}
                <a href="\" class="logo">
                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini"><b>C</b>YS</span>
                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg"><b>Connect</b>YS</span>
                </a>
            {% endblock %}
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                {% if app.user is not null and is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            {% block avanzu_navbar %}
                                {{ render(controller('AvanzuAdminThemeBundle:Navbar:messages')) }}
                                {{ render(controller('AvanzuAdminThemeBundle:Navbar:notifications')) }}
                                {{ render(controller('AvanzuAdminThemeBundle:Navbar:tasks')) }}
                                {{ render(controller('AvanzuAdminThemeBundle:Navbar:user')) }}
                            {% endblock %}
                        </ul>
                    </div>
                {% endif %}
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">

                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="/images/famille.png" class="user-image" alt="User Image">
                                <span class="hidden-xs">GIORIA Julien et Marine</span>
                                <span> <i class="caret"></i></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header bg-light-blue">
                                    <img src="/images/famille.png" class="img-circle" alt="User Image">
                                    <p>
                                        GIORIA Julien et Marine
                                        <small>Famille</small>
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Profil</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="/logout" class="btn btn-default btn-flat">Se déconnecter</a>
                                    </div>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>

            </nav>
        </header>
    {% endblock %}

    <aside class="main-sidebar sidebar-offcanvas">

        <section class="sidebar">
            <!-- sidebar User: : style can be found in sidebar.less -->
            <div>
                <div class="image">
                    <img src="/images/logo.jpg" alt="User Image">
                </div>
                <div class="info">
                    <ul>
                        <li><p><strong>Les copains d'abord</strong></p></li>
                        <li>Rue des ruettes</li>
                        <li>01500 Ambronay</li>
                        <li><i class="fa fa-phone"></i> 09.xx.xx.xx.xx.</li>
                    </ul>
                </div>
            </div>

            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">

                <li class="header">MENU</li>

                <li class="active"><a href="dashboard"><i class="fa fa-dashboard"></i><span>Dashboard</span></a></li>

                <li class="header">VOTRE DOSSIER</li>

                <li><a href="activites" class="item_sidemenu" ><i class="fa fa-cogs"></i> <span>Activités</span></a></li>
                <li><a href="reservations" class="item_sidemenu" ><i class="fa fa-calendar"></i> <span>Réservations</span></a></li>
                <li><a href="factures" class="item_sidemenu" ><i class="fa fa-file-text-o"></i> <span>Factures</span></a></li>
                <li><a href="reglements" class="item_sidemenu" ><i class="fa fa-money"></i> <span>Règlements</span></a></li>
                <li><a href="pieces" class="item_sidemenu" ><i class="fa fa-files-o"></i> <span>Pièces</span></a></li>
                <li><a href="cotisations" class="item_sidemenu" ><i class="fa fa-folder-o"></i> <span>Cotisations</span></a></li>
                <li><a href="historiques" class="item_sidemenu" ><i class="fa fa-clock-o"></i> <span>Historique</span></a></li>

                <li class="header">INFOS</li>

                <li><a href="contact" class="item_sidemenu" ><i class="fa fa-envelope-o"></i> <span>Contact</span></a></li>
                <li><a href="mentions-legales" class="item_sidemenu" ><i class="fa fa-info-circle"></i> <span>Mentions légales</span></a></li>
                <li><a href="aide" class="item_sidemenu" ><i class="fa fa-support"></i> <span>Aide</span></a></li>
            </ul>

            {% block avanzu_sidebar %}
                {% if app.user is not null and is_granted('IS_AUTHENTICATED_FULLY') %}
                    {{ render(controller('AvanzuAdminThemeBundle:Sidebar:userPanel')) }}
                    {{ render(controller('AvanzuAdminThemeBundle:Sidebar:searchForm')) }}
                {% endif %}
                {{ render(controller('AvanzuAdminThemeBundle:Sidebar:menu', {'request':app.request})) }}
            {% endblock %}
        </section>
    </aside>

    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                {% block page_title %}Blank page{% endblock %}
                <small>{% block page_subtitle %}Control panel{% endblock %}</small>
            </h1>
            {% block avanzu_breadcrumb %}
                {{ render(controller('AvanzuAdminThemeBundle:Breadcrumb:breadcrumb', {'request':app.request, 'title' : block('page_title')})) }}
            {% endblock %}
        </section>

        <section class="content">
            {% block page_content %}{% endblock %}
        </section>
    </div>

    {% block avanzu_admin_footer %}
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 0.1-Alpha
            </div>
            <strong>Copyright &copy; 2016 <a href="http://www.noethys.fr">Espace Parent - Noethys</a>.</strong> All rights reserved.
        </footer>
    {% endblock %}

</div>

{# ------------------------------------------------------------------------------------------------------ JAVASCRIPTS #}
{% block javascripts %}

    <script src="{{ asset('bundles/avanzuadmintheme/static/'~app.environment~'/scripts/admin-lte-all.js') }}"></script>

{% endblock %}

{# ----------------------------------------------------------------------------------------------- JAVASCRIPTS_INLINE #}
{% block javascripts_inline %}
{% endblock %}
</body>
</html>